@page "/documentType/add"
@inject IDocumentTypeService _documentTypeService
@inject NavigationHelper _navigationHelper

<PageTitle>Dodaj typ dokumentu</PageTitle>

<div class="d-flex flex-column gap-3 mx-3">
    <div class="d-flex gap-3">
        <h3>Dodawanie typu dokumentu</h3>
        <NavigationButton />
    </div>

    <RadzenCard>
        <EditForm Model="@_documentType" OnValidSubmit="@SubmitDocumentType">
            <FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="true" />
            <ValidationSummary />

            <RadzenStack Gap="1rem">
                <RadzenRow Gap="1rem">
                    <RadzenColumn Size="12" SizeSM="6">
                        <RadzenFormField Text="Nazwa">
                            <RadzenTextBox @bind-Value="@_documentType.Name" Name="Name" />
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Zatwierdź" ButtonType="ButtonType.Submit" />
                </RadzenStack>
            </RadzenStack>
        </EditForm>
    </RadzenCard>
</div>



@code {
    private FluentValidationValidator? _fluentValidationValidator;
    private DocumentTypeDto _documentType = new();

    private async Task SubmitDocumentType()
    {
        _documentTypeService.Create(_documentType);
        await _navigationHelper.GoBackAsync();
    }
}
