@page "/documentType/update/{id:int}"
@inject IDocumentTypeService _documentTypeService
@inject NavigationHelper _navigationHelper

<PageTitle>Edytuj typ dokumentu</PageTitle>

<div class="d-flex flex-column gap-3 mx-3">
    <div class="d-flex gap-3">
        <h3>Edycja typu dokumentu</h3>
        <NavigationButton />
    </div>

    <RadzenCard>
        <EditForm Model="@_documentType" OnValidSubmit="@SubmitPositionLevel">
            <FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="true" />
            <ValidationSummary />

            <RadzenStack Gap="1rem">
                <RadzenRow Gap="1rem">
                    <RadzenColumn Size="12" SizeSM="6">
                        <RadzenFormField Text="Nazwa">
                            <RadzenTextBox @bind-Value="@_documentType.Name" Name="Name" />
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Zatwierdź" ButtonType="ButtonType.Submit" />
                </RadzenStack>
            </RadzenStack>
        </EditForm>
    </RadzenCard>
</div>



@code {
    [Parameter]
    public int Id { get; set; }

    private FluentValidationValidator? _fluentValidationValidator;
    private DocumentTypeDto _documentType = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _documentType = _documentTypeService.Get(Id);
    }

    private async Task SubmitPositionLevel()
    {
        _documentTypeService.Update(_documentType);
        await _navigationHelper.GoBackAsync();
    }
}
