@page "/"


<PageTitle>Login</PageTitle>

<div class="d-flex align-items-center justify-content-center min-vh-100 w-100 bg-light-subtle">
    <EditForm Model="@_loginData">
        <div class="rounded bg-dark shadow-sm p-3 d-flex flex-column gap-3">
            <h1 class="fs-3">Zaloguj się do systemu</h1>
            <div class="d-flex flex-column">
                <label class="text-primary fs-5">Login</label>
                <InputText @bind-Value="_loginData.Login" class="form-control fs-5" />
            </div>
            <div class="d-flex flex-column">
                <label class="text-primary fs-5">Hasło</label>
                <InputText @bind-Value="_loginData.Password" class="form-control fs-5" type="password" />
            </div>
        </div>
    </EditForm>
</div>

@code {
    private UserLoginDto _loginData = new();
}