@inject NavigationManager _navigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(NavLayout)">
                <NotAuthorized>
                    <RedirectToLogin/>
                </NotAuthorized>
                <Authorizing>
                    <p>Autoryzacja...</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Nie znaleziono strony.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>