<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

	<targets>
		<target name="error_file" xsi:type="File" fileName="${basedir}/../../../../Log/WebAPI/error/${shortdate}.log" />
		<target name="info_file" xsi:type="File" fileName="${basedir}/../../../../Log/WebAPI/info/${shortdate}.log" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxLevel="Info" final="true" />

		<logger name="*" minLevel ="Error" writeTo="error_file" />
		<logger name="*" maxLevel="Warn" writeTo="info_file" />
	</rules>
</nlog>